#home{
	.featured-image{
		width: 100%;
		height: 200px;
		margin: 0 auto;
		background: center center no-repeat;
		background-size: cover;
		margin-bottom: 20px;
	}
	.carousel{
		max-width: 800px;
		margin: 0 auto;
		.item{
			position: relative;
			width: 800px;
			height: 400px;
			@include background(url('http://lorempixel.com/600/600/cats/') center center no-repeat);
			background-size: cover;
			background: center center no-repeat;
			background-size: cover;
			cursor: pointer;
			>a{
				position: absolute;
				width: 100%;
				height: 100%;
				top:0;
				left: 0;
			}
			.title,.category{
				position: absolute;
				color: white;
				padding: 5px 10px;
				background: rgba(black,0.7);
				margin: 0 20px;
			}
			.title{
				top:20px;
				font-size: 18px;
			}
			.category{
				bottom: 20px;
				font-size: 14px;
				>a{
					color:inherit;
					text-decoration: none;
				}
			}
		}
	}
	.content{
		max-width: 900px;
		margin: 0 auto;
		text-align: left;
		.title{
			text-align: center;
		}
		.author{
			text-align: right;
			font-size: 12px;
			font-family: 'Roboto';
		}
	}
	.blocks-content{

		ul{
			text-align: center;
			li{
				position: relative;
				display: inline-block;
				width: (1/3)*100%;
				&:not(:last-child){
					margin-right: 15px;
				}
				a{
					position: absolute;
					width: 100%;
					height: 100%;
					top:0;
					left:0;
				}
				.img{
					width: 100%;
					height: 170px;
					background: center center no-repeat;
					background-size: cover;
					margin: 15px 0;
				}
				>div{
					text-align: justify;
				}
			}
		}
	}
	.gallery-container{
		margin-top: 50px;
		h2{
			text-align: center;
		}
	}
}
.comment-section{
	text-align: center;
	margin: 0 auto;
	max-width: 768px;
	.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
	.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
}
