//variables
$COLUMS:12;

//Mixins
@mixin grid-col {
  float: left;
  padding-right: 0.75em;
}

@mixin make($break) {
  @for $i from 1 through $COLUMS{
    @for $j from 1 through $i{
      .#{$break}-#{$j}of#{$i}{
        @include grid-col;
        width: ($j/$i)*100%;
      }
    }

  }
  .#{$break}-all{
    @include grid-col;
    width: 100%;
    padding-right: 0;
  }
  .#{$break}-none{
    display: none!important;
  }
  .#{$break}-last-col{
    float: right!important;
    padding-right: 0 !important;
  }
}

.last-col {
  float: right !important;
  padding-right: 0 !important;
}
.center{
  padding: 0;
  float: none;
}
//Media Querys
@media (max-width: 767px) {
  @include make('m');
}
@media (min-width: 768px) and (max-width: 1023px) {
  @include make('t');
}
@media (min-width: 1024px) {
  @include make('d');
}
@media (min-width: 1600px) {
  @include make('h');
}
