//BONES VARIABLES
@import "bones";

/****************************************
UNICLUSTER CUSTOM VARIABLES
****************************************/

/********************
COLORS
*********************/
//Colors (by names)  - www.name-of-color.com
$woodland:#4D512B;
$sushi:#84AD34;
$clover:#344514;
$turtle-green:#2A380B;
$rifle-green:#3B4C25;
$gray-nurse:#EAEAEA;

//ITEMS

//GENERAL
$body-color: white;
$text-color:$woodland;
$page-color:$gray-nurse;
$btn:$sushi;
$btn-active: $clover;

//HEADER
$header-bg:$sushi;
$header-hover:$turtle-green;

//FOOTER
$footer-bg-color:#3B4C25;

//PROJECTS
$projects-border:$sushi;


/*********************
FONTS
*********************/
$font1: $roboto;
$font2:$open-sans;
