//BONES VARIABLES
@import "bones";

/****************************************
TRIPLA CUSTOM VARIABLES
****************************************/

/********************
COLORS
*********************/
//Colors (by names)  - www.name-of-color.com
$cadet:#4e616f;
$bali-hai:#839fb4;
$river-bed:#3e4e59;
$light-carmine-pink:#e56d72;
$sea-pink:#f3919c;
$gainsboro:#dcdfe2;
$chateau-green:#2DA05C;

//ITEMS
//General
$body-color: white;

//Header
$header-bg-color:$cadet;
$color-a:$bali-hai;
$color-a-hover:white;
$contact-btn:$cadet;


//Footer
$footer-bg-color:$cadet;
$newsletter-bg:$river-bed;
$newsletter-val-error:$light-carmine-pink;


//Pages

//Services
$services-txt-color:$cadet;
$services-input-error:$sea-pink;

//Clients
$clients-h1-color:$cadet;
$carroussel-control:$cadet;
$carroussel-control-disabled:$gainsboro;

//About
$about-text-color:$cadet;
$cap-letter-color:$chateau-green;


/*********************
FONTS
*********************/
$font1: $roboto;
$font2:$open-sans;
