header.header {
  text-align: center;
  >a >img {
    margin: 20px 0;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    >a{
      text-decoration: none;
      color:black;
    }
  }
  nav.navbar {
    position: fixed;
    top: 0;
		left: 0;
    width: 100%;
    z-index: 99;
    background: $unicluser-green;
    a {
      text-transform: uppercase;
      color: white;
      text-shadow: none;
      &.navbar-brand {
        .brand {
          width: auto;
          height: 100%;
        }
      }
    }
    #searchsubmit{
      background: $unicluser-green;
      text-shadow: none;
      color: white;
      &:hover{
        color:#777;
      }
    }
	}
}
